
        {% load static %}

        
        <div class="header">
                <header>
                <img src="{% static 'img/logo.jpg' %}"/>
                    <nav >
                    
                    <button class="menumobile"><i class="fas fa-bars"></i>  </button>

                        <ul>
                            
                            <li><Link to ="/login">Login</Link></li>
                            <li><Link to ="/">Logout</Link></li>
                            <li><Link to ="/registro">Registro</Link></li>
                            <li><Link to ="/carrito">Carrito</Link></li>

                        </ul>

                    
                    </nav>
            </header>






        </div>
   